html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main {
    flex: 1;
}

#main-header {
    background-color: #000000;
    color: white;
    padding: 1px 0;
    text-align: center;
}

/* Header */
header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

/* Logo */
#logo {
    height: 150px;
    width: auto;
}

/* Navegation */
nav {
    position: fixed;
    top: 0;
    right: 320px;
    padding: 46px;
    background-color: #131dd3;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;

}
nav ul li a img.icon {
    width: 40px;
    height: 40px;
}

/* Cart Icon */
#cart {
    position: absolute;
    top: 50px;
    right: 70px;
}

#cart img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#cart img:hover {
    transform: scale(1.1);
}

/* Footer */
#main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content p {
    margin: 0;
}
.social-icons a {
    margin: 45px;
    padding: 5px;
}
.social-icons img {
    width: 30px;
    height: 30px;
}


/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* Gallery Section */
.gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 40px 20px;
    padding: 50px;
}

.gallery img {
    width: 30%;
    border-radius: 8px;
    object-fit: cover;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}